body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 238, 221);
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px;
  position: relative;
}

/* header  */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(80, 80, 80);
}

.search {
  margin-top: 10px;
}

.reset {
  margin-left: 10px;
}

.bottom-buttons {
  width: 100%;
  max-width: 600px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

/* to do  */

.toDoListDiv {
  width: 600px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toDo {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toDoTitle {
  font-size: 20px;
  font-weight: 600;
}

.description {
  font-size: 10px;
  opacity: 0.7;
}

.important-star {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.strike {
  text-decoration: line-through;
}

.checkbox {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

/* addNewToDo  */ 

.addNewToDo {
  width: 100%;
  max-width: 600px;
  position: fixed;
  top: 25%;
}

.toDoForm {
  padding: 15px;
}

.toDoModalForm {
  width: 500px;
  z-index: 1;
}

.toDoFormCheck {
  margin-top: 10px;
}

.opacityDiv {
  width: 100%;
  max-width: 600px;
  height: 1000px;
  opacity: 0.5;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -40%;
}
